<div class="row b-layout g-txt_center" style="text-align: center">

    <form class="reg_form_st" role="form" action="/Authorization/Registration" method="post" data-toggle="validator" data-disable=false data-delay=100>
    


        <div class="b-layout b-layout_gradpane " style=" position: relative; z-index: 2; overflow: hidden; ">
            <img src="http://u0.s.progorodnn.ru/userfiles/picoriginal/img-20150129223306-169.jpg" style="left: 0; top: 0; width: 100%; height: auto; position: absolute; opacity: 0.3; z-index: 1;">
            <h1 style="font-size: 22px; padding-bottom: 28px; margin-top: 0; position: relative; z-index: 2; ">
                Регистрация
            </h1>

            <div data-element-radiobox="role" style=" position: relative; z-index: 2; font-family: Arial,Helvetica,sans-serif; line-height: 1; text-align: center; width: 666px; margin: 0 auto;">
                <div class="freelancer_label" style="display: inline-block; width: 333px; height: 66px; padding: 0; margin: 0; font-size: 13px; border-color: #ff7300; border-left: 2px solid #f5ab35; border-top: 2px solid #f5ab35; border-bottom: 2px solid #f5ab35; border-top-left-radius: 4px; border-bottom-left-radius: 4px; float: left; ">
                    <input style="display: none;" type="radio" name="freelancer" value="1" checked="checked" id="freelancer">
                    <label class="freelancer_label" for="freelancer" style="font-size: 20px; height: 100%; width: 100%; text-align: center; display: inline-block; padding-left: 2px; line-height: 3; color: #414141; vertical-align: top; font-family: Tahoma,Geneva,sans-serif; background: #f5ab35; color: #fff; display: inline-block; max-width: 100%; margin-bottom: 5px; font-weight: normal; ">
                        Я исполнитель, ищу работу
                    </label>
                </div>
                <div class="employer_label" style="display: inline-block; width: 333px; height: 66px; padding: 0; margin: 0; font-size: 13px; border-right: 2px solid #ffb980; border-top: 2px solid #ffb980; border-bottom: 2px solid #ffb980; border-top-right-radius: 4px; border-bottom-right-radius: 4px; float: left; ">
                    <input style="display: none;" type="radio" name="employer" value="2" id="employer">
                    <label class="employer_label" for="employer" style="font-size: 20px; height: 100%; width: 100%; text-align: center; display: inline-block; padding-left: 2px; line-height: 3; color: #414141; vertical-align: top; font-family: Tahoma,Geneva,sans-serif; background: #fff; color: #ffb980; display: inline-block; max-width: 100%; margin-bottom: 5px; font-weight: normal; ">
                        Я заказчик, ищу исполнителя
                    </label>
                </div>
            </div>

            <div id="employer-txt" style="display: none; margin-top: 100px; width: 100%; color: #333 !important; line-height: 44px; font-size: 30px; position: relative; z-index: 2; ">
                Зарегистрируйся и размести проект: <br>
                мы подберем тебе <strong>лучших исполнителей</strong> с гарантией <br>
                выполнения работы <strong>в срок</strong> через <strong> сделку!</strong>
            </div>

            <div id="freelancer-txt" style="color: #333 !important; margin-top: 100px; width: 100%; line-height: 44px; font-size: 30px; position: relative; z-index: 2; ">
                Регистрируйся и зарабатывай <strong>с гарантией оплаты</strong> проектов <br>
                от более чем <strong>1&nbsp;000 лучших заказчиков</strong> рунета, <br>
                увеличивай свой рейтинг и доход <strong>на постоянном потоке заказов.</strong>
            </div>

        </div>


        <div style="padding: 40px 20px 0px 20px;background-color: white;">

            <h2 style="font-size: 24px !important; padding-bottom: 5px !important; line-height: 1; margin: 0 !important; ">
                Регистрируйся через почту
            </h2>

            <div style=" width: 330px;margin:0 auto;">


                <table style="width:100%;;">
                    <tbody>
                        <tr>
                            <td>
                                <div style="padding-bottom: 30px; margin-bottom: 0px; " class="form-group has-feedback">
                                    <div style=" height:60px;">
                                        <label class="b-combo__label" for="email"></label>
                                        <input type="email" data-error="Bruh, that email address is invalid" data-minlength="6" style=" width:100%;   height: 60px; border-radius:0px;
    line-height: 60px!important;
    font-size: 18px!important;
    padding-left: 20px!important;
    padding-right: 20px!important;" placeholder="Email" class="form-control form-control_bg" id="InputEmail" name="email" maxlength="100" required>
                                        <span class="glyphicon form-control-feedback" aria-hidden="true" style="display:inline-block;height:100%;line-height:3.5"></span>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>


                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="padding-bottom: 30px; margin-bottom: 0px;height:110px;" class="form-group has-feedback">
                                    <div style="height: 60px;">
                                        <a onclick="show_password()" href="javascript:void(0)" tabindex="10000"></a>
                                        <label class="b-combo__label" for="reg_password"></label>
                                        <input data-error="Minimum of 6 characters" data-minlength="6" style="width: 100%; height: 60px; border-radius: 0px;  line-height: 60px !important; font-size: 18px !important; padding-left: 20px !important; padding-right: 20px !important; " type="password" autocomplete="off" placeholder="Пароль" class="form-control form-control_bg" id="InputPassword" name="password" maxlength="100" required />

                                        <span class="glyphicon form-control-feedback" aria-hidden="true" style="display:inline-block;height:100%;line-height:3.5"></span>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>


                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div style=" padding: 0; margin: 0; border: 0;">
                                    <button type="submit" class="btn btn-primary" id="send_btn" style="border-radius: 0px; border:0px; width: 100%; color: #FFF; background: #d9d9d9; border-bottom-color: #d9d9d9; height: 80px !important; font-size: 18px; text-transform: uppercase; ">
                                        Зарегистрироваться
                                    </button>
                                    <div style="color: #838383 !important; font-size: 12px; text-align: left; padding-top: 10px; ">
                                        Нажимая на кнопку «Зарегистрироваться», я соглашаюсь с
                                        <a href="//userecho.com/terms-of-service/" target="_blank">правилами пользования сайтом.</a>

                                    </div>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>

            <h2 style="padding-bottom:25px; color: #333; line-height: 1; font-size: 24px;margin-top:50px;">
                Быстрая регистрация
            </h2>

            <div style="width:550px;margin:0 auto;height:100px;">
                <a class="vk_regist" style="display:block;float:left;background-position: 0 -40px; background-repeat: no-repeat; background-color: #4d75a3; height: 40px; line-height: 40px; margin: 0px 9px 5px 9px;  line-height: 50px; text-align: center; cursor: pointer; border-radius: 4px; width: 190px; font-size: 18px; color: #FFF; text-decoration: none; width: 154px; background: url('/Content/img/vk_ico_btn.png'); " data-ga-event="{ec: 'user', ea: 'registration_socialnet_clicked',el: 'vk'}" href="/auth/?param=vkontakte"></a>
                <a class="fb_regist"  style="display: block; float: left; background-position: 0 -40px; background-repeat: no-repeat; background-color: #4d75a3; height: 40px; line-height: 40px; margin: 0px 9px 5px 9px; line-height: 50px; text-align: center; cursor: pointer; border-radius: 4px; width: 145px; font-size: 18px; color: #FFF; text-decoration: none; background: url('/Content/img/facebook_ico_reg.png'); " data-ga-event="{ec: 'user', ea: 'registration_socialnet_clicked',el: 'fb'}" href="/auth/?param=facebook"></a>
                <a class="ok_regist"  style="display: block; float: left; background-position: 0 -40px; background-repeat: no-repeat; background-color: #4d75a3; height: 40px; line-height: 40px; margin: 0px 9px 5px 9px; line-height: 50px; text-align: center; cursor: pointer; border-radius: 4px; width: 190px; font-size: 18px; color: #FFF; text-decoration: none; background: url('/Content/img/odnoklassniki_ico_reg.png'); " data-ga-event="{ec: 'user', ea: 'registration_socialnet_clicked',el: 'fb'}" href="/auth/?param=facebook"></a>
            </div>

            <div class="b-layout__txt" style="height:100px;">
                <a href="#" onclick="$('.login_btn').click()" style="color: #026dc0; font-family: Arial,Helvetica,sans-serif; font-size: 18px; ">
                    У меня есть аккаунт
                </a>
            </div>
        </div>



        <input type="hidden" value="3c3ca8d09bd01c375ca1ca08ae134b3c" name="u_token_key">
    </form>
</div>
<script>
    $(document).ready(function () {
        $('#InputEmail').validator().on('valid.bs.validator', function (e) {
            if (e.type == 'valid') {
                $('#send_btn').css('background', '#44b275');
            };
        }
        );
        $('#InputEmail').validator().on('invalid.bs.validator', function (e) {
            if (e.type == 'invalid') {
                 $('#send_btn').css('background', '#d9d9d9');
            };
        }
);
        $('#InputPassword').validator().on('valid.bs.validator', function (e) {
         
            if (e.type == 'valid') {
                $('#send_btn').css('background', '#44b275');
            };
        }
        );
        $('#InputPassword').validator().on('invalid.bs.validator', function (e) {
            if (e.type == 'invalid') {
                $('#send_btn').css('background', '#d9d9d9');
            };
        }
);
        
    })
    $(function () {
        $('input[type="radio"]').click(function () {
            
            if ($(this).val() == '1') {
                $('.freelancer_label').css('background', '#f5ab35');
                $('.employer_label').css('background', 'white');
                $('.freelancer_label').css('color', 'white');
                $('#freelancer-txt').css('display', 'block');
                $('#employer-txt').css('display', 'none');
                $('.employer_label').css('border-right', '1px solid #ffb980');
                $('.employer_label').css('border-top', '1px solid #ffb980');
                $('.employer_label').css('border-bottom', '1px solid #ffb980');
                $('.employer_label').css('color', '#ffb980');
                $('.freelancer_label').css('border-left', '1px solid #f5ab35');
                $('.freelancer_label').css('border-top', '1px solid #f5ab35');
                $('.freelancer_label').css('border-bottom', '1px solid #f5ab35');
            } else {
                
                $('.freelancer_label').css('border-left', '1px solid #a9da91');
                $('.freelancer_label').css('border-top', '1px solid #a9da91');
                $('.freelancer_label').css('border-bottom', '1px solid #a9da91');
               
                $('.freelancer_label').css('background', 'white');
                $('.freelancer_label').css('color', '#a9da91');
                $('.employer_label').css('border-right', '1px solid #44b275');
                $('.employer_label').css('border-top', '1px solid #44b275');
                $('.employer_label').css('border-bottom', '1px solid #44b275');
                $('.employer_label').css('background', '#44b275');
                $('.employer_label').css('color', 'white');
                $('#employer-txt').css('display', 'block');
                $('#freelancer-txt').css('display', 'none');
            }

        });
    });
</script>