.waiting_modal_bg {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://sampsonresume.com/labs/pIkfp.gif') 
                50% 50% 
                no-repeat;
}
body.loading_bg {
    overflow: hidden;   
}
body.loading_bg .waiting_modal_bg {
    display: block;
}

.add_asterisk:after {
    content: "*";
    font-weight: bold;
    color: red;
}

.hide {
    display: none;
}

.header_top_left > a {
    color: white;
}

.header_top_left > a:hover {
        color: #fff000;
}


#enter {
    font-size: 13px;
    line-height: 3.7;
    background-image: none;
    height: 52px;
    background-color: #44b275;
    overflow: hidden;
    width: 100px;
}

    #enter:hover {
        cursor: pointer;
        background-color: #88cca5;
        border: 1px solid white;
    }

    #enter:active {
        cursor: pointer;
        background-color: #97dab4;
        border: 1px solid white;
    }

.registration {
    background-image: none;
    background-color: #f5ab35;
    height: 52px;
    padding-left: 20px;
    overflow: hidden;
    width: 170px;
    text-align: center;
    line-height: 3.2;
    font-size: 15px;
    color: white;
    font-weight: bold;
    border: 1px solid #f5ab35
}

    .registration:hover {
        cursor: pointer;
        background-color: #f6c679;
        border: 1px solid white;
        color:white;
    }

    .registration:active {
        cursor: pointer;
        background-color: #fed48f;
        border: 1px solid white;
    }

.personal_account_box {
    display: none;
}

.personal_account_btn:hover {
    cursor: pointer;
    background-color: #f6c679;
    border: 1px solid white;
}

.personal_account_btn:active {
    cursor: pointer;
    background-color: #fed48f;
    border: 1px solid white;
}

.header_middle_left_btn {
    -moz-border-radius: 40px; 
    -webkit-border-radius: 40px;
    -khtml-border-radius: 40px; 
    border-radius: 40px; 
    width: 220px;
    height: 50px;
    margin: 0 auto;
    margin-top: 35px;
    font-family: Helvetica Bold;
    font-size: 16px;
    line-height: 3;
    color: white;
    background-color: #f5ab35;
}

    .header_middle_left_btn:hover {
        cursor: pointer;
        background-color: #f6c679;
        border: 1px solid white;
    }

    .header_middle_left_btn:active {
        cursor: pointer;
        background-color: #fed48f;
        border: 1px solid white;
    }

.header_middle_right_btn {
    -moz-border-radius: 40px; 
    -webkit-border-radius: 40px; 
    -khtml-border-radius: 40px; 
    border-radius: 40px; 
    width: 220px;
    height: 50px;
    margin: 0 auto;
    margin-top: 35px;
    font-family: Helvetica Bold;
    font-size: 16px;
    line-height: 3;
    color: white;
    background-color: #44b275;
}

    .header_middle_right_btn:hover {
        cursor: pointer;
        background-color: #88cca5;
        border: 1px solid white;
    }
        .header_middle_right_btn:active {
        cursor: pointer;
        background-color: #97dab4;
        border: 1px solid white;
    }

.category a {
    border-bottom: 1px solid #446cb3;
}

    .category a:hover {
        color: black;
        font-weight: bold;
        text-decoration: none;
        border-bottom: 1px solid white;
        cursor: pointer;
    }

.find_btn {
    width: 140px;
    height: 45px;
    background-color: #16171c;
    float: right;
    margin-top: -45px;
    text-align: center;
    margin-right: 30px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px; 
    -khtml-border-radius: 4px; 
    border-radius: 4px; 
}

    .find_btn:hover {
        cursor: pointer;
        background-color: #666667;
        border: 1px solid white;
    }
        .find_btn:active {
        cursor: pointer;
        background-color: #858586;
        border: 1px solid white;
    }

        .find_btn_types {
    width: 140px;
    height: 45px;
    background-color: #16171c;
    float: right;
    margin-top: -45px;
    text-align: center;
    margin-right: 30px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px; 
    -khtml-border-radius: 4px; 
    border-radius: 4px; 
}

    .find_btn_types:hover {
        cursor: pointer;
        background-color: #666667;
        border: 1px solid white;
    }
        .find_btn_types:active {
        cursor: pointer;
        background-color: #858586;
        border: 1px solid white;
    }


.social_band img, span:hover {
    cursor: pointer;
}

.announ:hover {
    -webkit-box-shadow: 1px 1px 12px 12px rgba(225,223,223,1);
    -moz-box-shadow: 1px 1px 12px 12px rgba(225,223,223,1);
    box-shadow: 1px 1px 12px 12px rgba(225,223,223,1);
}

.news_read_forward:hover {
    cursor: pointer;
}

.header_get_workers:hover {
    cursor: pointer;
    background-color: #88cca5;
    border: 2px solid white;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -khtml-border-radius: 40px;
    border-radius: 40px;
}

.header_get_clients:hover {
    cursor: pointer;
    background-color: #f6c679;
    border: 2px solid white;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -khtml-border-radius: 40px;
    border-radius: 40px;
}

.add_request {
    width: 260px;
    height: 60px;
    background-color: #4b99f7;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    font-family: Helvetica Bold;
    font-size: 18px;
    color: white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

    .add_request:hover {
        cursor: pointer;
        border: 1px solid white;
        background-color: #69aaf8;
    }

.sitemapitem a:hover {
    text-decoration: none;
}

.edit_details:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: #f6c679;
    border: 1px solid white;
}

.send_mail_feedback:hover {
    cursor: pointer;
}

.send_rss_mail:hover {
    cursor: pointer;
    border: 1px solid white;
}

.message_author:hover {
    cursor: pointer;
    border-color: #4cae4c;
}

.answer_message:hover {
    cursor: pointer;
    border-color: #4cae4c;
}

.bg-success {
    border-color: #4cae4c;
}

.result_count {
    display: none;
}

.spros {
    float: right;
    width: 140px;
    height: 40px;
    margin-right: 10px;
    
    font-family: Helvetica Bold;
    font-size: 12px;
    color: #115a56;
    text-align: center;
    line-height: 30px;
}
.spros:hover {
    cursor:pointer;
    text-decoration:underline;
}
.predlojenie {
    float: right;
    width: 140px;
    height: 40px;
    margin-right: 10px;
    background-image: url(/Content/img/announ_target_ico.png);
    font-family: Helvetica Bold;
    font-size: 12px;
    color: white;
    text-align: center;
    line-height: 30px;
}
.predlojenie:hover {
    cursor:pointer;
    text-decoration:underline;
}

.write_message:hover {
    cursor:pointer;
}

.like_btn:hover {
    cursor:pointer;
}
.dislike_btn:hover {
    cursor:pointer;
}
.scrollup_btn{
width:40px;
height:40px;
opacity:0.3;
position:fixed;
bottom:50px;
right:100px;
display:none;
text-indent:-9999px;
background: url('/Content/img/icon_top.png') no-repeat;
}
.search_text_input {
width: 880px; height: 45px; border: 2px solid #4C8EFA; 

}
.search_text_input:hover {
    border:2px solid #446cb3;
}
.search_text_input:active {
    border:2px solid #446cb3;
}
.to_bookmarks:hover {
    cursor:pointer;
}
.auth-buttons li {
    list-style: none;
    margin-bottom: 5px;
    float: left;
    margin-right: 5px;
}
.btn-google {
    color: white;
    background-color: #dd4b39;
    border-color: #dd4b39;
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-google-plus:before {
    content: "\f0d5";
}

.btn-facebook {
    color: white;
    background-color: #3B5998;
    border-color: #3B5998;
}
.btn-odnoklassniki:hover {
    color:black!important;
}
.btn-vk {
    color: white;
    background-color: #36638e;
    border-color: #36638e;
}
.auth-buttons {
    padding-left: 0px;
}
.close-signin {
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 3000;
}
.form-control_bg {
    background-color: #f5f5f5;
}
.b-layout_gradpane {
    min-height: 220px;
    padding: 30px 20px 40px 20px;
    background: #f4f4f4;
    background: -moz-linear-gradient(top,#ffffff 0%,#f4f4f4 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#f4f4f4));
    background: -webkit-linear-gradient(top,#ffffff 0%,#f4f4f4 100%);
    background: -o-linear-gradient(top,#ffffff 0%,#f4f4f4 100%);
    background: -ms-linear-gradient(top,#ffffff 0%,#f4f4f4 100%);
    background: linear-gradient(to bottom,#ffffff 0%,#f4f4f4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',endColorstr='#f4f4f4',GradientType=0 );
}
.b-layout__title_color_333 {
    color: #333 !important;
}
.b-layout__title_padbot_28 {
    padding-bottom: 28px !important;
}
.b-layout__title_lh_1 {
    line-height: 1;
}
.b-layout__title {
    font-size: 22px !important;
    font-weight: normal;
    font-family: Arial,Helvetica,sans-serif;
    color: #000 !important;
    padding: 0 0 10px;
    margin: 0 !important;
}
.vk_regist:hover {
    opacity:0.7;
}
.fb_regist:hover {
    opacity:0.7;
}
.ok_regist:hover {
    opacity:0.7;
}
#send_btn:hover {
    border:1px solid black!important;
}
.select_categ:hover {
    cursor:pointer;
}
.select_categ option {
    background-color: #f5f5f5;
}
.modal-open {
    overflow: auto;
        padding-right: 0px!important;
}
.freelancer_label:hover {
    cursor:pointer;
}
.employer_label:hover {
    cursor:pointer;
}
.find_worker_small:hover {
    cursor:pointer;
    border:1px solid white;
}
.find_work_small:hover {
    cursor:pointer;
    border:1px solid white;
}
