.add_asterisk:after {
    content: "*";
    font-weight: bold;
    color: red;
}

.hide {
    display: none;
}

.header_top_left > a {
    color: white;
}

#enter {
    font-size: 13px;
    line-height: 3.7;
    background-image: none;
    height: 52px;
    background-color: #44b275;
    overflow: hidden;
    width: 100px;
}

    #enter:hover {
        cursor: pointer;
        background-color: #88cca5;
        border: 1px solid white;
    }

.registration {
    background-image: none;
    background-color: #f5ab35;
    height: 52px;
    padding-left: 20px;
    overflow: hidden;
    width: 170px;
    text-align: center;
    line-height: 3;
    font-size: 15px;
    color: white;
    font-weight: bold;
}

    .registration:hover {
        cursor: pointer;
        background-color: #f6c679;
        border: 1px solid white;
    }

.personal_account_box {
    display: none;
}

.personal_account_btn:hover {
    cursor: pointer;
    background-color: #f6c679;
    border: 1px solid white;
}

.header_middle_left_btn {
    /* Для хороших браузеров */
    -moz-border-radius: 40px; /* Firefox */
    -webkit-border-radius: 40px; /* Safari, Chrome */
    -khtml-border-radius: 40px; /* KHTML */
    border-radius: 40px; /* CSS3 */
    /* Для плохих IE */
    behavior: url(border-radius.htc); /* учим IE border-radius */
    width: 220px;
    height: 50px;
    margin: 0 auto;
    margin-top: 35px;
    font-family: Helvetica Bold;
    font-size: 16px;
    line-height: 3;
    color: white;
    background-color: #f5ab35;
}

    .header_middle_left_btn:hover {
        cursor: pointer;
        background-color: #f6c679;
        border: 1px solid white;
    }

.header_middle_right_btn {
    /* Для хороших браузеров */
    -moz-border-radius: 40px; /* Firefox */
    -webkit-border-radius: 40px; /* Safari, Chrome */
    -khtml-border-radius: 40px; /* KHTML */
    border-radius: 40px; /* CSS3 */
    /* Для плохих IE */
    behavior: url(border-radius.htc); /* учим IE border-radius */
    width: 220px;
    height: 50px;
    margin: 0 auto;
    margin-top: 35px;
    font-family: Helvetica Bold;
    font-size: 16px;
    line-height: 3;
    color: white;
    background-color: #44b275;
}

    .header_middle_right_btn:hover {
        cursor: pointer;
        background-color: #88cca5;
        border: 1px solid white;
    }

.category a {
    border-bottom: 1px solid #446cb3;
}

    .category a:hover {
        color: black;
        font-weight: bold;
        text-decoration: none;
        border-bottom: 1px solid white;
        cursor: pointer;
    }

.find_btn {
    width: 140px;
    height: 45px;
    background-color: #16171c;
    float: right;
    margin-top: -45px;
    text-align: center;
    margin-right: 30px;
    -moz-border-radius: 4px; /* Firefox */
    -webkit-border-radius: 4px; /* Safari, Chrome */
    -khtml-border-radius: 4px; /* KHTML */
    border-radius: 4px; /* CSS3 */ /* Для плохих IE */
    behavior: url(border-radius.htc); /* учим IE border-radius */
}

    .find_btn:hover {
        cursor: pointer;
        background-color: #666667;
        border: 1px solid white;
    }

.social_band img, span:hover {
    cursor: pointer;
}

.announ:hover {
    -webkit-box-shadow: 1px 1px 12px 12px rgba(225,223,223,1);
    -moz-box-shadow: 1px 1px 12px 12px rgba(225,223,223,1);
    box-shadow: 1px 1px 12px 12px rgba(225,223,223,1);
    cursor: pointer;
}

.news_read_forward:hover {
    cursor: pointer;
}

.header_get_workers:hover {
    cursor: pointer;
    background-color: #88cca5;
    border: 2px solid white;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -khtml-border-radius: 40px;
    border-radius: 40px;
}

.header_get_clients:hover {
    cursor: pointer;
    background-color: #f6c679;
    border: 2px solid white;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -khtml-border-radius: 40px;
    border-radius: 40px;
}

.add_request {
    width: 260px;
    height: 60px;
    background-color: #4b99f7;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    font-family: Helvetica Bold;
    font-size: 18px;
    color: white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    behavior: url(border-radius.htc);
}

    .add_request:hover {
        cursor: pointer;
        border: 1px solid white;
        background-color: #69aaf8;
    }

.sitemapitem a:hover {
    text-decoration: none;
}

.edit_details:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: #f6c679;
    border: 1px solid white;
}
