@font-face {
    font-family: 'Helvetica Bold';
    src: url('fonts/HelveticaBold.ttf'),url('fonts/HelveticaBold.woff'),url('fonts/HelveticaBold.eot');
}
body {
    background-color:#f6f6f6;
    margin:0;
    padding:0;
}
div {

}
textarea {
   resize: none;
}
.container {
    width:1400px;
    background-color:#ebebeb;
   
}
.header_top {
    height:52px;
    background-image:url(img/header_top_bg.png);
    background-repeat:repeat-x;
}
.header_top_left{
    height:52px;
    background-image:url(img/header_top_bg.png);
    background-repeat:repeat-x;
    text-align:center;
    line-height:3;
    font-size:15px;
    color:white;
    font-weight:bold;
    float:left;

}
.header_top_right{
    height:52px;
    background-image:url(img/header_top_bg.png);
    background-repeat:repeat-x;
    text-align:center;
    line-height:3;
    font-size:15px;
    color:white;
    font-weight:bold;
    float:right;
    width:440px;
}
.right_after_reg {
    width:180px;
}
.header_middle {
    /*height:530px;*/
    padding-top:10px;
    /*padding:10px;*/
}
.category > .col-md-2 {
  
    text-align:center;

    }
.category_left_clear {
    width:150px;
}
.category_right_clear {
    width:150px;
}
.education {
    display:none;
}