<div class="row" style="height: 265px; background-color: #605f5f;">
    <div style="width:1100px;margin:0 auto;height:100%;">
        <div style="width: 350px; height: 100%; float: left;">
            <br><br>
            <span style="color: white; font-family: Helvetica Bold; font-size: 18px;">O СЕРВИСЕ IPRO</span>
            <br><br>
            <span style="color: #adadad; font-family: Helvetica Bold; font-size: 13px; ">
                iPro - сервис для привлечения клиентов и поиска работников: ремонт компьютеров, ремонт мобильных телефонов, ремонт GPS навигаторов, создание сайтов, контрольные работы, Репетиторы. У вас сломался компьютер или телефон? Срочно требуются помощь в решении контрольной работы? Все это и многое другое Вы можете найти на сайте iPro.
            </span>
        </div>
        <div style="width: 350px; height: 100%; float: left; margin-left: 25px;">
            <br><br>
            <span style="color: white; font-family: Helvetica Bold; font-size: 18px;">НАШИ КОНТАКТЫ</span>
            <br><br>

            <table>
                <tr>
                    <td style="width:110px;">
                        <img src="~/Content/img/footer_address_ico.png" alt="address" /> <span style="font-family: Helvetica Bold; font-size: 11px; color: #adadad;margin-left:5px;">АДРЕС:</span>
                    </td>
                    <td>

                        <span style="color: white; font-family: Helvetica; font-size: 13px; ">
                           г. Москва
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="width: 110px; height: 35px;">
                        <img src="~/Content/img/footer_phone_ico.png" alt="phone" /> <span style="font-family: Helvetica Bold; font-size: 11px; color: #adadad;margin-left:5px;">ТЕЛЕФОН:</span>
                    </td>
                    <td>

                        <span style="color: white; font-family: Helvetica; font-size: 13px; ">
                            +37529 777-85-79
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="width: 110px; height: 35px;">
                        <img src="~/Content/img/footer_calend_ico.png" alt="calendar" /> <span style="font-family: Helvetica Bold; font-size: 11px; color: #adadad;margin-left:5px;">РЕЖИМ:</span>
                    </td>
                    <td>

                        <span style="color: white; font-family: Helvetica; font-size: 13px; ">
                            9:00-17:00, Пн-Пт
                        </span>
                    </td>
                </tr>
            </table>

            <a class="send_mail_feedback" href="mailto:excellentwebmaster@rambler.ru?Subject=From%20IPRO%20Footer" style="display:block;margin-top:10px;width: 160px; height: 40px; background-color: #f5ab35; color: white; font-family: Helvetica Bold; font-size: 14px; text-align: center; line-height: 2.7; -moz-border-radius: 4px; /* Firefox */ -webkit-border-radius: 4px; /* Safari, Chrome */ -khtml-border-radius: 4px; /* KHTML */ border-radius: 4px; ">НАПИШИ НАМ</a>
        </div>
        <div style="width: 350px; height: 100%; float: left; margin-left: 25px; ">
            <br><br>
            <span style="color: white; font-family: Helvetica Bold; font-size: 18px;">ОСТАВАЙСЯ НА СВЯЗИ!</span>
            <br><br>
            <span style="color: #f5ab35; font-family: Helvetica Bold; font-size: 12px; ">Подпишись и получай свежие новости сервиса</span>
            <div style="width: 300px; height: 50px; background-color: white; margin-top: 15px; -moz-border-radius: 4px; /* Firefox */ -webkit-border-radius: 4px; /* Safari, Chrome */ -khtml-border-radius: 4px; /* KHTML */ border-radius: 4px; ">
                <input class="send_rss_mail_input" onfocus="this.value='';" type="text" style="height: 38px; width: 175px; margin-top: 6px; border: none; text-indent: 10px; font-family: Helvetica; font-size: 14px; color: #a8a8a8; " value="Электронная почта">
                <div class="send_rss_mail" style="width: 118px; height: 38px; background-color: #e33d51; float: right; margin-top: 6px; margin-right: 6px; color: white; font-size: 14px; font-family: Helvetica Bold; text-align:center;line-height:2.5;">
                    Подписаться
                </div>
            </div>
            <div style="color: white; font-family: Helvetica Bold; font-size: 12px; margin-top:15px;margin-left:80px;">Мы заботимся о Вашей приватности</div>
            <div style="margin-top:10px;margin-left:25px;">
                <img src="~/Content/img/footer_facebook.png" alt="facebook" />
                <img src="~/Content/img/footer_vk.png" alt="vk" />
                <img src="~/Content/img/footer_skype.png" alt="skype" />
                <img src="~/Content/img/footer_odnoklas.png" alt="odnoklassniki" />
                <img src="~/Content/img/footer_twitter.png" alt="twitter" />
            </div>
        </div>
    </div>
</div>
<div class="row" style="height: 60px; background-color: #323232;">
    <div style="width:1100px;height:60px;margin:0 auto;">
        <span style="font-family: Helvetica; font-size: 11px;color:white;">© 2015 iPro - объединяем профессионалов. Все права защищены.</span><br>
        <span style="font-family: Helvetica; font-size: 11px;color:white;">Дизайн сайта <span style="color: #dc9c35;">PerfectoWeb</span></span>
        <div style="height: 20px; width: 330px;float:right;margin-right:25px;">
            <img src="~/Content/img/visa.png" alt="visa" />
            <img src="~/Content/img/master.png" alt="master" />
            <img src="~/Content/img/maestro.png" alt="maestro" />
            <img src="~/Content/img/paypal.png" alt="paypal" />
            <!-- Yandex.Metrika informer -->
            <a href="https://metrika.yandex.ru/stat/?id=33410423&amp;from=informer"
               target="_blank" rel="nofollow">
                <img src="https://informer.yandex.ru/informer/33410423/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
                     style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:33410423,lang:'ru'});return false}catch(e){}" />
            </a>
            <!-- /Yandex.Metrika informer -->
            <!-- Yandex.Metrika counter -->
            <script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter33410423 = new Ya.Metrika({
                    id:33410423,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
            </script>
            <noscript><div><img src="https://mc.yandex.ru/watch/33410423" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
            <!-- /Yandex.Metrika counter -->

            <!-- Rating@Mail.ru counter -->
            <script type="text/javascript">
                var _tmr = window._tmr || (window._tmr = []);
                _tmr.push({ id: "2724491", type: "pageView", start: (new Date()).getTime() });
                (function (d, w, id) {
                    if (d.getElementById(id)) return;
                    var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true; ts.id = id;
                    ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
                    var f = function () { var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s); };
                    if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
                })(document, window, "topmailru-code");
            </script><noscript>
                <div style="position:absolute;left:-10000px;">
                    <img src="//top-fwz1.mail.ru/counter?id=2724491;js=na" style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru" />
                </div>
            </noscript>
            <!-- //Rating@Mail.ru counter -->
        </div>
    </div>
</div>