<div class="row header_middle" style="background-color: #ececec; padding: 10px 10px 10px 10px; height: 530px; background: -webkit-linear-gradient(white, #ececec); /* For Safari 5.1 to 6.0 */ background: -o-linear-gradient(white, #ececec); /* For Opera 11.1 to 12.0 */ background: -moz-linear-gradient(white, #ececec); /* For Firefox 3.6 to 15 */ background: linear-gradient(white, #ececec); /* Standard syntax */ ">
    <div class="col-md-6" style="  padding-left: 0; padding-right: 0;">
        <div style="background-image: url(/Content/img/header_middle_left.png);width:770px;height:510px;">
            <div style="width:380px;height:95px;background-color:#446cb3;margin-left:390px;margin-top:105px;float:left; display:table;padding-left:30px;">
                <div style="color:white;font-size:16px;font-family:Helvetica Bold;width:380px;height:95px;vertical-align: middle;display:table-cell;">iPro - сервис для привлечения клиентов и поиска работников</div>
            </div>
            <div style="width: 300px; height: 300px; background-color: #44b275; margin-left: 270px; margin-top: 10px; float: left; text-align:center;">
                <div style="color: white; font-family: Helvetica Bold; font-size: 16px; vertical-align: middle; display: table-cell; width: 300px; padding-top:30px;">Что получает клиент?</div>

                <div style="color: white; font-family: Helvetica; height: 120px; width: 300px; text-align: left; margin-top:20px;line-height:2;font-size:14px;">
                    <ul>
                        <li style="list-style-image: url(/Content/img/header_middle_left_li.png)">Выбор лучших работников</li>
                        <li style="list-style-image: url(/Content/img/header_middle_left_li.png)">Возможность оценить работу</li>
                        <li style="list-style-image: url(/Content/img/header_middle_left_li.png)">Поиск только по нужным критериям</li>
                        <li style="list-style-image: url(/Content/img/header_middle_left_li.png)">Возможность общения с работником напрямую</li>
                    </ul>
                </div>
                <div class="header_middle_left_btn " style="">Ищу работника</div>
            </div>
        </div>
    </div>
    <div class="col-md-6" style=" padding-left: 0; padding-right: 0;">
        <div style="background-image: url(/Content/img/header_middle_right.png);width:600px;height:510px;margin-left:90px;">
            <div style="width: 300px; height: 300px; background-color: #f5ab35; margin-left: 0px; margin-top: 0px; float: left; text-align: center;">
                <div style="color: white; font-family: Helvetica Bold; font-size: 16px; vertical-align: middle; display: table-cell; width: 300px; padding-top:30px;">Что получает работник?</div>

                <div style="color: white; font-family: Helvetica; height: 120px; width: 300px; text-align: left; margin-top:20px;line-height:2;font-size:14px;">
                    <ul>
                        <li style="list-style-image: url(/Content/img/header_middle_right_li.png)">Качественная ротация</li>
                        <li style="list-style-image: url(/Content/img/header_middle_right_li.png)">Большое количество просмотров</li>
                        <li style="list-style-image: url(/Content/img/header_middle_right_li.png)">Репутационные характеристики</li>
                        <li style="list-style-image: url(/Content/img/header_middle_right_li.png)">Возможность общения с клиентом напрямую</li>
                    </ul>
                </div>
                <div class="header_middle_right_btn find_clients_btn" style="">Ищу клиентов</div>
            </div>
        </div>

    </div>
</div>

