<div class="row header_top">
    <div class="col-md-6 header_top_left" style="">
        <img src="~/Content/img/ipro_header_top.png" />
        <a href="@Url.Action("Index", "Home")" style="margin-left:50px;">ГЛАВНАЯ</a>
        <a href="#" style="margin-left: 35px;">О НАС</a>
        <a href="#" style="margin-left: 35px;">КОНТАКТЫ</a>
        <a href="#" style="margin-left: 35px;">ФОРУМ</a>
    </div>
    <div class="col-md-6 header_top_right" style="  ">
        <div class=" enter" id="enter" style="float:left;margin-left:250px;"><img src="~/Content/img/header_top_login_ico.png" style="margin-left:-10px;padding-right:5px;padding-bottom:3px;" />ВОЙТИ<div style="background-color: #f5ab35; height: 4px; width: 117.656px; margin-left: -16px; "></div></div>
        <div class=" registration" css="custom" style="float:left;"><img src="~/Content/img/header_top_reg_ico.png" style="margin-left:-10px;padding-right:10px;" />РЕГИСТРАЦИЯ</div>

    </div>
</div>

