<div class="modal fade in statusDialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form" action="" method="post" data-toggle="validator" data-disable=false data-delay=100>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >&times;</button>
                    <h4 class="modal-title">Добавление изображения</h4>
                </div>
                <div class="modal-body" id="result">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <h5>К сожалению изображение не соответствует одному из критериев!</h5>
                            <h5>Файл должен быть менее 1 Мегабайта (Mb)</h5>
                            <h5>Иметь расширение .jpg, .png, .jpeg</h5>
                            <p>Попробуйте подобрать другую аватарку или подкорректировать текущую.</p>
                            <p>Спасибо.</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" >Закрыть</button>
                    </div>
                </div>
            </form>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
<script>
    $('.statusDialog').modal({
        backdrop: 'static',
        keyboard: true
    }, 'show');
</script>