<div class="row" style="width:1100px;background-color:white; margin:0 auto;">
    <div style="width: 800px; margin: 0 auto;">

        <br>
    <h5>К сожалению, Вы не авторизованы на сайте!</h5>
    <p>Пожалуйста, зайдите со своим логином и паролем на сайт. Мы сможем предоставить для Вас полный функционал сайта.</p>
    <p>Спасибо!</p>

    @Html.ActionLink("Авторизоваться", "Index", "Home", null, new { @class = "btn btn-link" })
        <br><br>




    </div>
</div>