<div class="row" style="width:1100px;background-color:white; margin:0 auto;">
    <div style="width: 800px; margin: 0 auto;">

        <br>
        <h5>К сожалению, Ваш email не подтвержден! Вам нужно подтвердить email, указанный при регистрации!</h5><br>
        <p>Проверьте почтовый ящик на наличие письма со ссылкой на подтверждение.</p>
        <p>Если у Вас возникли вопросы свяжитесь с администратором сайта.</p><br>
        <p>Спасибо!</p>

        <br>




    </div>
</div>