<div class="row">
    <div style="width: 1100px; margin: 0 auto; height: 70px; font-family: Helvetica Bold; font-size: 16px; color: #115a56; line-height:70px;">
        Обсуждение (@{Html.RenderAction("GetReviews", "Announ", new { announ_id = Model.announ_id });} ):
    </div>
    @{Html.RenderAction("Reviews", "Cabinet", new { announ_id = Model.announ_id });}

</div>
