<div class="row" style="width:1100px;background-color:white; margin:0 auto;">
    <div style="width: 800px; margin: 0 auto;">

        <br>
        <p>Ваши данные успешно сохранены!</p>
        <p>Спасибо!</p>

        
        <br><br>




    </div>
</div>