<div class="row announs" style="height: 1500px; background: -webkit-linear-gradient(#e9e9e9, #f6f6f6); /* For Safari 5.1 to 6.0 */ background: -o-linear-gradient(#e9e9e9, #f6f6f6); /* For Opera 11.1 to 12.0 */ background: -moz-linear-gradient(#e9e9e9, #f6f6f6); /* For Firefox 3.6 to 15 */ background: linear-gradient(#e9e9e9, #f6f6f6); /* Standard syntax */ ">
    <div style="padding-top: 28px; margin: 0 auto; margin-top: 33px; width: 1100px; height: 100px; background-color: #44b375; -moz-border-radius: 4px; /* Firefox */ -webkit-border-radius: 4px; /* Safari, Chrome */ -khtml-border-radius: 4px; /* KHTML */ border-radius: 4px; /* CSS3 */ /* Для плохих IE */ behavior: url(border-radius.htc); /* учим IE border-radius */ ">
        <div style="margin-left:30px; width: 880px; height: 45px; background-color: white; -moz-border-radius: 4px; /* Firefox */ -webkit-border-radius: 4px; /* Safari, Chrome */ -khtml-border-radius: 4px; /* KHTML */ border-radius: 4px; /* CSS3 */ /* Для плохих IE */ behavior: url(border-radius.htc); /* учим IE border-radius */ ">
            <input type="text" style="text-indent: 20px; font-family: Helvetica; font-size: 14px; color: #c2c4c7;width: 880px; height: 45px; border: none; -moz-border-radius: 4px; /* Firefox */ -webkit-border-radius: 4px; /* Safari, Chrome */ -khtml-border-radius: 4px; /* KHTML */ border-radius: 4px; /* CSS3 */ /* Для плохих IE */ behavior: url(border-radius.htc); /* учим IE border-radius */ " value="Введите ключевое слово. Например: биология" />
        </div>
        <div class="find_btn">

            <img src="~/Content/img/find_ico.png" style="margin-left:-15px;margin-top:-5px;" /> <span style="font-family: Helvetica Bold; font-size: 16px; line-height: 2.8;color:white;margin-left:6px;">НАЙТИ</span>
        </div>
    </div>
    <div class="row announ" style="width:1100px;height:170px;background-color:white;margin:0 auto;margin-top:30px;">
        <div style="width: 240px; height: 170px; border-right: 5px solid #f6f8f9;float:left;">
            <img src="~/Content/img/no_logo.png" style="margin-left: 20px;margin-top:20px;margin-right:20px; float: left;" />
            <div style="font-family: Helvetica Bold; font-size: 14px; float: left; margin-top: 20px; width: 130px; height: 40px; color: #115a56;">Эльвира Семеновна</div>
            <div style="font-family: Helvetica; font-size: 11px; float: left; width: 130px; height: 20px; color: #44beb7;">
                <img src="~/Content/img/city_ico.png" style="padding-right:5px;" />Минск
            </div>
            <div style="margin-left:40px;float:left;margin-top:5px;"><img src="~/Content/img/phone.png" style="padding-right:5px;" /><span style="font-family: Helvetica Bold; font-size: 12px; color: #00a79d;">mobile +7 (123) 456-55-88</span></div>
            <div class="social_band" style="margin-top: 10px; float: left; padding:8px; margin-left: 20px; width: 200px; height: 40px; background: url(/Content/img/announ_social_bg.png) no-repeat left; background-size: 195px 40px; ">

                <img src="~/Content/img/announ_social_skype.png" />
                <img src="~/Content/img/announ_social_vkontakte.png" />
                <img src="~/Content/img/announ_social_odnoklass.png" />
                <img src="~/Content/img/announ_social_facebook.png" />
                <img src="~/Content/img/announ_social_twitter.png" />
                <span style="font-family: Helvetica Bold; font-size: 10px; color: #00a79d; ">ОБО МНЕ</span>
            </div>
        </div>
        <div style="width:855px;height:170px;float:left;display:table;">
            <div style="font-family: Helvetica Bold; font-size: 16px; color: #446cb3; margin-left: 20px; margin-top: 17px;"><a href="#" style=" border-bottom: 1px solid #446cb3; text-decoration: none;">Веб дизайнер</a></div>
            <div style="margin-left: 20px; ">
                <img src="~/Content/img/star_active.png" />
                <img src="~/Content/img/star_active.png" />
                <img src="~/Content/img/star_active.png" />
                <img src="~/Content/img/star_active.png" />
                <img src="~/Content/img/star_inactive.png" />
            </div>
            <div style="font-family: Helvetica; font-size: 12px; line-height: 2; margin-left: 20px; ">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div style=" color: #888888; font-family: Helvetica; font-size: 11px; display:table-row;">
                <img src="~/Content/img/calendar_ico.png" style="padding-right: 5px; margin-top: -3px; margin-left: 20px;" />26 сентябрь, 2016
                <img src="~/Content/img/view_ico.png" style="margin-left: 25px; padding-right: 5px; margin-top: -3px; " />2.393
                <img src="~/Content/img/like_dislike.png" style="margin-left:480px;margin-top:18px;" />
                <span style="font-family: Helvetica; font-size: 11px; color:white; margin-left: -104px; margin-top: 25px; position: absolute;">150</span>
                <span style="font-family: Helvetica; font-size: 11px; color:white; margin-left: -34px; margin-top: 25px; position: absolute;">150</span>

            </div>
        </div>
    </div><div class="row announ" style="width:1100px;height:170px;background-color:white;margin:0 auto;margin-top:30px;">
        <div style="width: 240px; height: 170px; border-right: 5px solid #f6f8f9;float:left;">
            <img src="~/Content/img/no_logo.png" style="margin-left: 20px;margin-top:20px;margin-right:20px; float: left;" />
            <div style="font-family: Helvetica Bold; font-size: 14px; float: left; margin-top: 20px; width: 130px; height: 40px; color: #115a56;">Эльвира Семеновна</div>
            <div style="font-family: Helvetica; font-size: 11px; float: left; width: 130px; height: 20px; color: #44beb7;">
                <img src="~/Content/img/city_ico.png" style="padding-right:5px;" />Минск
            </div>
            <div style="margin-left:40px;float:left;margin-top:5px;"><img src="~/Content/img/phone.png" style="padding-right:5px;" /><span style="font-family: Helvetica Bold; font-size: 12px; color: #00a79d;">mobile +7 (123) 456-55-88</span></div>
            <div class="social_band" style="margin-top: 10px; float: left; padding:8px; margin-left: 20px; width: 200px; height: 40px; background: url(/Content/img/announ_social_bg.png) no-repeat left; background-size: 195px 40px; ">

                <img src="~/Content/img/announ_social_skype.png" />
                <img src="~/Content/img/announ_social_vkontakte.png" />
                <img src="~/Content/img/announ_social_odnoklass.png" />
                <img src="~/Content/img/announ_social_facebook.png" />
                <img src="~/Content/img/announ_social_twitter.png" />
                <span style="font-family: Helvetica Bold; font-size: 10px; color: #00a79d; ">ОБО МНЕ</span>
            </div>
        </div>
        <div style="width:855px;height:170px;float:left;display:table;">
            <div style="font-family: Helvetica Bold; font-size: 16px; color: #446cb3; margin-left: 20px; margin-top: 17px;"><a href="#" style=" border-bottom: 1px solid #446cb3; text-decoration: none;">Веб дизайнер</a></div>
            <div style="margin-left: 20px; ">
                <img src="~/Content/img/star_active.png" />
                <img src="~/Content/img/star_active.png" />
                <img src="~/Content/img/star_active.png" />
                <img src="~/Content/img/star_active.png" />
                <img src="~/Content/img/star_inactive.png" />
            </div>
            <div style="font-family: Helvetica; font-size: 12px; line-height: 2; margin-left: 20px; ">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div style=" color: #888888; font-family: Helvetica; font-size: 11px; display:table-row;">
                <img src="~/Content/img/calendar_ico.png" style="padding-right: 5px; margin-top: -3px; margin-left: 20px;" />26 сентябрь, 2016
                <img src="~/Content/img/view_ico.png" style="margin-left: 25px; padding-right: 5px; margin-top: -3px; " />2.393
                <img src="~/Content/img/like_dislike.png" style="margin-left:480px;margin-top:18px;" />
                <span style="font-family: Helvetica; font-size: 11px; color:white; margin-left: -104px; margin-top: 25px; position: absolute;">150</span>
                <span style="font-family: Helvetica; font-size: 11px; color:white; margin-left: -34px; margin-top: 25px; position: absolute;">150</span>

            </div>
        </div>
    </div><div class="row announ" style="width:1100px;height:170px;background-color:white;margin:0 auto;margin-top:30px;">
        <div style="width: 240px; height: 170px; border-right: 5px solid #f6f8f9;float:left;">
            <img src="~/Content/img/no_logo.png" style="margin-left: 20px;margin-top:20px;margin-right:20px; float: left;" />
            <div style="font-family: Helvetica Bold; font-size: 14px; float: left; margin-top: 20px; width: 130px; height: 40px; color: #115a56;">Эльвира Семеновна</div>
            <div style="font-family: Helvetica; font-size: 11px; float: left; width: 130px; height: 20px; color: #44beb7;">
                <img src="~/Content/img/city_ico.png" style="padding-right:5px;" />Минск
            </div>
            <div style="margin-left:40px;float:left;margin-top:5px;"><img src="~/Content/img/phone.png" style="padding-right:5px;" /><span style="font-family: Helvetica Bold; font-size: 12px; color: #00a79d;">mobile +7 (123) 456-55-88</span></div>
            <div class="social_band" style="margin-top: 10px; float: left; padding:8px; margin-left: 20px; width: 200px; height: 40px; background: url(/Content/img/announ_social_bg.png) no-repeat left; background-size: 195px 40px; ">

                <img src="~/Content/img/announ_social_skype.png" />
                <img src="~/Content/img/announ_social_vkontakte.png" />
                <img src="~/Content/img/announ_social_odnoklass.png" />
                <img src="~/Content/img/announ_social_facebook.png" />
                <img src="~/Content/img/announ_social_twitter.png" />
                <span style="font-family: Helvetica Bold; font-size: 10px; color: #00a79d; ">ОБО МНЕ</span>
            </div>
        </div>
        <div style="width:855px;height:170px;float:left;display:table;">
            <div style="font-family: Helvetica Bold; font-size: 16px; color: #446cb3; margin-left: 20px; margin-top: 17px;"><a href="#" style=" border-bottom: 1px solid #446cb3; text-decoration: none;">Веб дизайнер</a></div>
            <div style="margin-left: 20px; ">
                <img src="~/Content/img/star_active.png" />
                <img src="~/Content/img/star_active.png" />
                <img src="~/Content/img/star_active.png" />
                <img src="~/Content/img/star_active.png" />
                <img src="~/Content/img/star_inactive.png" />
            </div>
            <div style="font-family: Helvetica; font-size: 12px; line-height: 2; margin-left: 20px; ">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div style=" color: #888888; font-family: Helvetica; font-size: 11px; display:table-row;">
                <img src="~/Content/img/calendar_ico.png" style="padding-right: 5px; margin-top: -3px; margin-left: 20px;" />26 сентябрь, 2016
                <img src="~/Content/img/view_ico.png" style="margin-left: 25px; padding-right: 5px; margin-top: -3px; " />2.393
                <img src="~/Content/img/like_dislike.png" style="margin-left:480px;margin-top:18px;" />
                <span style="font-family: Helvetica; font-size: 11px; color:white; margin-left: -104px; margin-top: 25px; position: absolute;">150</span>
                <span style="font-family: Helvetica; font-size: 11px; color:white; margin-left: -34px; margin-top: 25px; position: absolute;">150</span>

            </div>
        </div>
    </div><div class="row announ" style="width:1100px;height:170px;background-color:white;margin:0 auto;margin-top:30px;">
        <div style="width: 240px; height: 170px; border-right: 5px solid #f6f8f9;float:left;">
            <img src="~/Content/img/no_logo.png" style="margin-left: 20px;margin-top:20px;margin-right:20px; float: left;" />
            <div style="font-family: Helvetica Bold; font-size: 14px; float: left; margin-top: 20px; width: 130px; height: 40px; color: #115a56;">Эльвира Семеновна</div>
            <div style="font-family: Helvetica; font-size: 11px; float: left; width: 130px; height: 20px; color: #44beb7;">
                <img src="~/Content/img/city_ico.png" style="padding-right:5px;" />Минск
            </div>
            <div style="margin-left:40px;float:left;margin-top:5px;"><img src="~/Content/img/phone.png" style="padding-right:5px;" /><span style="font-family: Helvetica Bold; font-size: 12px; color: #00a79d;">mobile +7 (123) 456-55-88</span></div>
            <div class="social_band" style="margin-top: 10px; float: left; padding:8px; margin-left: 20px; width: 200px; height: 40px; background: url(/Content/img/announ_social_bg.png) no-repeat left; background-size: 195px 40px; ">

                <img src="~/Content/img/announ_social_skype.png" />
                <img src="~/Content/img/announ_social_vkontakte.png" />
                <img src="~/Content/img/announ_social_odnoklass.png" />
                <img src="~/Content/img/announ_social_facebook.png" />
                <img src="~/Content/img/announ_social_twitter.png" />
                <span style="font-family: Helvetica Bold; font-size: 10px; color: #00a79d; ">ОБО МНЕ</span>
            </div>
        </div>
        <div style="width:855px;height:170px;float:left;display:table;">
            <div style="font-family: Helvetica Bold; font-size: 16px; color: #446cb3; margin-left: 20px; margin-top: 17px;"><a href="#" style=" border-bottom: 1px solid #446cb3; text-decoration: none;">Веб дизайнер</a></div>
            <div style="margin-left: 20px; ">
                <img src="~/Content/img/star_active.png" />
                <img src="~/Content/img/star_active.png" />
                <img src="~/Content/img/star_active.png" />
                <img src="~/Content/img/star_active.png" />
                <img src="~/Content/img/star_inactive.png" />
            </div>
            <div style="font-family: Helvetica; font-size: 12px; line-height: 2; margin-left: 20px; ">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div style=" color: #888888; font-family: Helvetica; font-size: 11px; display:table-row;">
                <img src="~/Content/img/calendar_ico.png" style="padding-right: 5px; margin-top: -3px; margin-left: 20px;" />26 сентябрь, 2016
                <img src="~/Content/img/view_ico.png" style="margin-left: 25px; padding-right: 5px; margin-top: -3px; " />2.393
                <img src="~/Content/img/like_dislike.png" style="margin-left:480px;margin-top:18px;" />
                <span style="font-family: Helvetica; font-size: 11px; color:white; margin-left: -104px; margin-top: 25px; position: absolute;">150</span>
                <span style="font-family: Helvetica; font-size: 11px; color:white; margin-left: -34px; margin-top: 25px; position: absolute;">150</span>

            </div>
        </div>
    </div><div class="row announ" style="width:1100px;height:170px;background-color:white;margin:0 auto;margin-top:30px;">
        <div style="width: 240px; height: 170px; border-right: 5px solid #f6f8f9;float:left;">
            <img src="~/Content/img/no_logo.png" style="margin-left: 20px;margin-top:20px;margin-right:20px; float: left;" />
            <div style="font-family: Helvetica Bold; font-size: 14px; float: left; margin-top: 20px; width: 130px; height: 40px; color: #115a56;">Эльвира Семеновна</div>
            <div style="font-family: Helvetica; font-size: 11px; float: left; width: 130px; height: 20px; color: #44beb7;">
                <img src="~/Content/img/city_ico.png" style="padding-right:5px;" />Минск
            </div>
            <div style="margin-left:40px;float:left;margin-top:5px;"><img src="~/Content/img/phone.png" style="padding-right:5px;" /><span style="font-family: Helvetica Bold; font-size: 12px; color: #00a79d;">mobile +7 (123) 456-55-88</span></div>
            <div class="social_band" style="margin-top: 10px; float: left; padding:8px; margin-left: 20px; width: 200px; height: 40px; background: url(/Content/img/announ_social_bg.png) no-repeat left; background-size: 195px 40px; ">

                <img src="~/Content/img/announ_social_skype.png" />
                <img src="~/Content/img/announ_social_vkontakte.png" />
                <img src="~/Content/img/announ_social_odnoklass.png" />
                <img src="~/Content/img/announ_social_facebook.png" />
                <img src="~/Content/img/announ_social_twitter.png" />
                <span style="font-family: Helvetica Bold; font-size: 10px; color: #00a79d; ">ОБО МНЕ</span>
            </div>
        </div>
        <div style="width:855px;height:170px;float:left;display:table;">
            <div style="font-family: Helvetica Bold; font-size: 16px; color: #446cb3; margin-left: 20px; margin-top: 17px;"><a href="#" style=" border-bottom: 1px solid #446cb3; text-decoration: none;">Веб дизайнер</a></div>
            <div style="margin-left: 20px; ">
                <img src="~/Content/img/star_active.png" />
                <img src="~/Content/img/star_active.png" />
                <img src="~/Content/img/star_active.png" />
                <img src="~/Content/img/star_active.png" />
                <img src="~/Content/img/star_inactive.png" />
            </div>
            <div style="font-family: Helvetica; font-size: 12px; line-height: 2; margin-left: 20px; ">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div style=" color: #888888; font-family: Helvetica; font-size: 11px; display:table-row;">
                <img src="~/Content/img/calendar_ico.png" style="padding-right: 5px; margin-top: -3px; margin-left: 20px;" />26 сентябрь, 2016
                <img src="~/Content/img/view_ico.png" style="margin-left: 25px; padding-right: 5px; margin-top: -3px; " />2.393
                <img src="~/Content/img/like_dislike.png" style="margin-left:480px;margin-top:18px;" />
                <span style="font-family: Helvetica; font-size: 11px; color:white; margin-left: -104px; margin-top: 25px; position: absolute;">150</span>
                <span style="font-family: Helvetica; font-size: 11px; color:white; margin-left: -34px; margin-top: 25px; position: absolute;">150</span>

            </div>
        </div>
    </div>
    <div class="row announ" style="width:1100px;height:170px;background-color:white;margin:0 auto;margin-top:30px;">
        <div style="width: 240px; height: 170px; border-right: 5px solid #f6f8f9;float:left;">
            <img src="~/Content/img/no_logo.png" style="margin-left: 20px;margin-top:20px;margin-right:20px; float: left;" />
            <div style="font-family: Helvetica Bold; font-size: 14px; float: left; margin-top: 20px; width: 130px; height: 40px; color: #115a56;">Эльвира Семеновна</div>
            <div style="font-family: Helvetica; font-size: 11px; float: left; width: 130px; height: 20px; color: #44beb7;">
                <img src="~/Content/img/city_ico.png" style="padding-right:5px;" />Минск
            </div>
            <div style="margin-left:40px;float:left;margin-top:5px;"><img src="~/Content/img/phone.png" style="padding-right:5px;" /><span style="font-family: Helvetica Bold; font-size: 12px; color: #00a79d;">mobile +7 (123) 456-55-88</span></div>
            <div class="social_band" style="margin-top: 10px; float: left; padding:8px; margin-left: 20px; width: 200px; height: 40px; background: url(/Content/img/announ_social_bg.png) no-repeat left; background-size: 195px 40px; ">

                <img src="~/Content/img/announ_social_skype.png" />
                <img src="~/Content/img/announ_social_vkontakte.png" />
                <img src="~/Content/img/announ_social_odnoklass.png" />
                <img src="~/Content/img/announ_social_facebook.png" />
                <img src="~/Content/img/announ_social_twitter.png" />
                <span style="font-family: Helvetica Bold; font-size: 10px; color: #00a79d; ">ОБО МНЕ</span>
            </div>
        </div>
        <div style="width:855px;height:170px;float:left;display:table;">
            <div style="font-family: Helvetica Bold; font-size: 16px; color: #446cb3; margin-left: 20px; margin-top: 17px;"><a href="#" style=" border-bottom: 1px solid #446cb3; text-decoration: none;">Веб дизайнер</a></div>
            <div style="margin-left: 20px; ">
                <img src="~/Content/img/star_active.png" />
                <img src="~/Content/img/star_active.png" />
                <img src="~/Content/img/star_active.png" />
                <img src="~/Content/img/star_active.png" />
                <img src="~/Content/img/star_inactive.png" />
            </div>
            <div style="font-family: Helvetica; font-size: 12px; line-height: 2; margin-left: 20px; ">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div style=" color: #888888; font-family: Helvetica; font-size: 11px; display:table-row;">
                <img src="~/Content/img/calendar_ico.png" style="padding-right: 5px; margin-top: -3px; margin-left: 20px;" />26 сентябрь, 2016
                <img src="~/Content/img/view_ico.png" style="margin-left: 25px; padding-right: 5px; margin-top: -3px; " />2.393
                <img src="~/Content/img/like_dislike.png" style="margin-left:480px;margin-top:18px;" />
                <span style="font-family: Helvetica; font-size: 11px; color:white; margin-left: -104px; margin-top: 25px; position: absolute;">150</span>
                <span style="font-family: Helvetica; font-size: 11px; color:white; margin-left: -34px; margin-top: 25px; position: absolute;">150</span>

            </div>
        </div>
    </div>
</div>
