<div class="row category" style="background-color:white;width:1400px;">
    <div class="col-md-1 "></div>
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-6">
                <div style="margin-left:40px; height:65px; font-family:helvetica bold; font-size:23px; line-height:2.8;">Компьютеры</div>
                <ul style="text-align:left;">
                    <li style="list-style: none; width:250px; padding-left: 30px; margin-left:0px;background: url(/Content/img/category_comp_li_ico_1.png) no-repeat left; font-family: Helvetica; font-size: 17px; color: #446cb3; line-height: 1.9; "><a href="~/Catalog/Remont-kompjuterov-noutbukov@{if(Request.Params["target"] != null){<text>/Rabota</text>}}">Ремонт компьютеров</a></li>
                    <li style="list-style: none; width:250px; padding-left: 30px; margin-left:0px;background: url(/Content/img/category_comp_li_ico_2.png) no-repeat left; font-family: Helvetica; font-size: 17px; color: #446cb3; line-height: 1.9; "><a href="~/Catalog/Remont-orgtehniki@{if(Request.Params["target"] != null){<text>/Rabota</text>}}">Ремонт оргтехники</a></li>
                    @*<li style="list-style: none; width:250px; padding-left: 30px; margin-left:0px;background: url(/Content/img/category_comp_li_ico_3.png) no-repeat left; font-family: Helvetica; font-size: 17px; color: #446cb3; line-height: 1.9; "><a href="@Url.Action("Index", "Catalog", new { type_id = 11 })">Обслуживание сетей</a></li>*@
                </ul>
            </div>
            <div class="col-md-6">
                <div style="margin-left: 40px; height: 65px; font-family: Helvetica Bold; font-size: 23px; line-height: 2.8;">Интернет</div>
                <ul style="text-align:left;">
                    <li style="list-style: none; width:250px; padding-left: 30px; margin-left:0px;background: url(/Content/img/category_internet_li_ico_1.png) no-repeat left; font-family: Helvetica; font-size: 17px; color: #446cb3; line-height: 1.9; "><a href="~/Catalog/Sozdanie-sajtov@{if(Request.Params["target"] != null){<text>/Rabota</text>}}">Создание сайтов</a></li>
                    <li style="list-style: none; width:250px; padding-left: 30px; margin-left:0px;background: url(/Content/img/category_internet_li_ico_2.png) no-repeat left; font-family: Helvetica; font-size: 17px; color: #446cb3; line-height: 1.9; "><a href="~/Catalog/Prodvizhenie-reklama@{if(Request.Params["target"] != null){<text>/Rabota</text>}}">Продвижение реклама</a></li>
                    <li style="list-style: none; width:250px; padding-left: 30px; margin-left:0px;background: url(/Content/img/category_internet_li_ico_3.png) no-repeat left; font-family: Helvetica; font-size: 17px; color: #446cb3; line-height: 1.9; "><a href="~/Catalog/Dizajn@{if(Request.Params["target"] != null){<text>/Rabota</text>}}">Дизайн</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-6">
                <div style="margin-left: 40px; height: 65px; font-family: Helvetica Bold; font-size: 23px; line-height: 2.8;">Мобильные</div>
                <ul style="text-align:left;">
                    <li style="list-style: none; width:250px; padding-left: 30px; margin-left:0px;background: url(/Content/img/category_mobile_li_ico_1.png) no-repeat left; font-family: Helvetica; font-size: 17px; color: #446cb3; line-height: 1.9; "><a href="~/Catalog/Remont-telefonov@{if(Request.Params["target"] != null){<text>/Rabota</text>}}">Ремонт телефонов</a></li>
                    <li style="list-style: none; width:250px; padding-left: 30px; margin-left:0px;background: url(/Content/img/category_mobile_li_ico_2.png) no-repeat left; font-family: Helvetica; font-size: 17px; color: #446cb3; line-height: 1.9; "><a href="~/Catalog/Remont-navigatorov-videoregistratorov@{if(Request.Params["target"] != null){<text>/Rabota</text>}}">Ремонт навигаторов</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <div style="margin-left: 40px; height: 65px; font-family: Helvetica Bold; font-size: 23px; line-height: 2.8;">Образование</div>
                <ul style="text-align:left;">
                    <li style="list-style: none; width:250px; padding-left: 30px; margin-left:0px;background: url(/Content/img/category_edu_li_ico_1.png) no-repeat left; font-family: Helvetica; font-size: 17px; color: #446cb3; line-height: 1.9; "><a href="~/Catalog/Kontrolnye-Kursovye-Referaty-Diplomy@{if(Request.Params["target"] != null){<text>/Rabota</text>}}">Контрольные работы</a></li>
                    <li style="list-style: none; width:250px; padding-left: 30px; margin-left:0px;background: url(/Content/img/category_edu_li_ico_2.png) no-repeat left; font-family: Helvetica; font-size: 17px; color: #446cb3; line-height: 1.9; "><a href="~/Catalog/Repetitory@{if(Request.Params["target"] != null){<text>/Rabota</text>}}">Репетиторы</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-1 "></div>
</div>
