@{
    ViewBag.Title = "IPROby.ru Контакты, Адрес, Обратная связь.";
    ViewBag.Description = "IPROby.ru Контакты, Адрес, Обратная связь. Россия, Москва Телефон: +7(916)345-05-85";
    ViewBag.Keywords = "контакты, адрес, обратная связь, помощь, время работы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeaderTop{
    @Html.Partial(Url.Content("~/Views/Home/HeaderTop.cshtml"))
}
@section SiteMap{
    @Html.Partial(Url.Content("~/Views/Announ/SiteMap.cshtml"))
}
@section Contacts{
    <div class="row" style="width:1100px;background-color:white; margin:0 auto;">
        <div style="width: 800px; margin: 0 auto;">
            <div style="font-family:Helvetica;font-size: 12pt;">
                <br /><br /><br />
                <div>
                    <h1 style=" font-size: 13.5pt;font-weight:bold;">КОНТАКТЫ, ОБРАТНАЯ СВЯЗЬ</h1>
                    <br>
                    <b>Разработчик: Владимир Александрович Сухов.</b><br><br>
                    <b>Для проекта IPRO требуется спонсор.</b><br>
                    <p>Если Вам понравился проект свяжитесь пожалуйста с разработчиком для обсуждения вариантов сотрудничества.</p>
                    
                    <p>Сайт написан на языке программирования С#.Net с использованием MVC фреймворка</p>
                    <br><br>
                    По любым интересующим вопросам пользуйтесь Блогом или пишите на почту.<br><br>
                    Связь в разработчиком:
                    <ul>
                    <li>Mail: <a href="mailto:excellentwebmaster@rambler.ru">excellentwebmaster@rambler.ru</a></li>
                    <li>Skype: excellent_webmaster</li><li>Vkontakte: <a href="http://vk.com/sukhovvladimir">Страничка Вконтакте.</a><br></li>
                   
                        <li>Если что-то срочное, можно позвонить тел. +37529-777-8579.<br></li>
                    </ul>
                    <br><br><br><br>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="height:55px;width:100%;">
    </div>
<div class="row" style="width:1100px;background-color:white; margin:0 auto;">
    <div style="width: 800px; margin: 0 auto;">
        <div style="font-family:Helvetica;">
            <br /><br /><br />
            <!--[if gte mso 9]><xml>
             <o:OfficeDocumentSettings>
              <o:AllowPNG/>
             </o:OfficeDocumentSettings>
            </xml><![endif]-->
            <p><strong><span style=" font-size: 13.5pt;">1. О КОМПАНИИ IPRO</span></strong></p>
            <p>
                <span style="font-size: 12pt;">Компания "</span><span style=" font-size: 12pt;">IPRO</span><span style=" font-size: 12pt;">
                    " предоставляет сервис каталога услуг физических и юридических лиц узкого профиля, которые не имеют личного сайта, либо он не приносит достаточного количества клиентов.<br>
                    Сайт
                </span><span style=" font-size: 12pt;">Ipro</span><span style=" font-size: 12pt;">.</span><span style=" font-size: 12pt;">by</span><span style=" font-size: 12pt;"> представляет собой как что-то среднее между фрилансом и доской объявлений, сочетающий в себе лучшие стороны обоих сервисов. </span>
            </p><br>
            <p><strong><span style=" font-size: 13.5pt;">2. ЦЕЛЕВАЯ АУДИТОРИЯ:</span></strong></p>
            <p>
                <span style=" font-size: 12pt;">
                    Физ. и юр. лица предоставляющие услуги в соответствии с каталогом.<br>
                    <br>
                    <strong>Пример компаний занимающихся подобным сервисом</strong>:
                </span><br>
                <br>
                <span style=" font-size: 12pt;">deal</span><span style=" font-size: 12pt;"> (http://www.</span><span style=" font-size: 12pt;">deal</span><span style=" font-size: 12pt;">.</span><span style=" font-size: 12pt;">ru</span><span style=" font-size: 12pt;">)</span><br>
                <span style=" font-size: 12pt;">irr</span><span style=" font-size: 12pt;"> (http://www.</span><span style=" font-size: 12pt;">irr</span><span style=" font-size: 12pt;">.</span><span style=" font-size: 12pt;">ru</span><span style=" font-size: 12pt;">)</span><br>
                <span style=" font-size: 12pt;">slando</span><span style=" font-size: 12pt;"> (http://www.</span><span style=" font-size: 12pt;">slando</span><span style=" font-size: 12pt;">.</span><span style=" font-size: 12pt;">ru</span><span style=" font-size: 12pt;">
                    )<br>
                    free-lance (https://www.free-lance.ru)
                </span>
            </p>
            <br>
            <p><strong><span style=" font-size: 13.5pt;">3. ЗАДАЧИ ВЕБ САЙТА:</span></strong></p>
            <p>
                <span style=" font-size: 12pt;">
                    Сайт должен выполнять функцию имиджевой рекламы лиц оказывающих услуги и привлечения новых клиентов.<br>
                    Вторая функция - информационно-аналитическая, т.е. осуществление удобного и быстрого поиска услуг для потенциальных клиентов.<br>
                    <br>
                    <strong>Задачи сайта</strong>:
                </span>
            </p>
            <ul>
                <li><span style=" font-size: 12pt;">информативное и функциональное представление каталога услуг; </span></li>
                <li><span style=" font-size: 12pt;">обеспечение удобного поиска по каталогу и в целом по сайту для “не профессиональных” пользователей;</span></li>
                <li><span style=" font-size: 12pt;">привлечение новых клиентов и увеличение объемов оказания услуг; </span></li>
                <li><span style=" font-size: 12pt;">поиск новых партнеров и установление с ними взаимовыгодных отношений. </span></li>
            </ul><br>
            <p><strong><span style=" font-size: 13.5pt;">4. ПРЕДОСТАВЛЯЕМЫЕ УСЛУГИ:</span></strong></p>
            <table>
                <thead>
                    <tr>
                        <td style="border: 1px solid black; border-image: none; text-align: center; line-height: 2;"><strong>Наименование</strong></td>
                        <td style="border: 1px solid black; border-image: none; text-align: center;"><strong>Срок размещения</strong></td>
                        <td style="border: 1px solid black; border-image: none; text-align: center;"><strong>Стоимость</strong></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="border: 1px solid black; border-image: none; text-align: center; line-height: 2;">
                            Поднятие объявления в первые позиции выдачи, выделение ВИП рамкой.
                        </td>
                        <td style="border: 1px solid black; border-image: none; text-align: center;">20 дней</td>
                        <td style="border: 1px solid black; border-image: none; text-align: center;">100</td>
                    </tr>
                </tbody>
            </table><br>
            <p><strong><span style=" font-size: 13.5pt;">5. ЮРИДИЧЕСКАЯ ИНФОРМАЦИЯ:</span></strong></p>
            <p>
                <span style=" font-size: 12pt;">
                    ИП 'Шестак Евгений Петрович'<br>
                    Режим работы: с 9:00 до 17:00;<br>

                    Служба поддержки сайта: +375297778579;
                </span><br>
                <br>
                &nbsp;
            </p>
            <br>
            <p><strong><span style=" font-size: 13.5pt;">6. ИЩЕМ СПОНСОРА:</span></strong></p>
            <p style=" font-size: 14pt;">Если Вам понравился проект свяжитесь пожалуйста с разработчиком для обсуждения вариантов сотрудничества.</p>
            <br>
            <br>
            &nbsp;
        </div>
    </div>
</div>
<div class="row" style="height:55px;width:100%;">
</div>
}
@section News{
    @{Html.RenderAction("Index", "News");}
}
@section Footer{
    @Html.Partial(Url.Content("~/Views/Home/Footer.cshtml"))
}
