<div class="row news" style="height: 370px; background-color: white; font-family: Helvetica; font-size: 18px;">
    <div style="height: 70px; width: 1100px; margin: 0 auto; font-family: Helvetica Bold; font-size: 18px; line-height:1.5;">
        <br>ПОСЛЕДНИЕ НОВОСТИ
        <div style="width: 50px; height: 5px; background-color: #446cb3;"></div>
    </div>
    <div style="width: 1100px; height: 250px; margin: 0 auto;">
        <br>
        <div style="width: 360px; height: 250px; display: table; float: left;">

            <img src="~/Content/img/news_ico.png" />
            <a href="#" style="font-family: Helvetica Bold; font-size: 14px; color: #446cb3; text-decoration:underline;width:270px;height:50px;float:right;margin-top:10px;margin-right:10px; ">Website updates. Ut enim ad minin soc veniar, quis nostrud execitiation</a>

            <div style="font-family: Helvetica; font-size: 13px; margin-top:10px;text-align:justify;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla..
            </div>
            <div style=" color: #888888; font-family: Helvetica; font-size: 11px; display: table-row; text-align: left; vertical-align: middle; height: 43px;">
                <img src="~/Content/img/calendar_ico.png" style="padding-right: 5px; margin-top: -3px; margin-left: 20px;" />26 сентябрь, 2016
                <div class="news_read_forward" style="width: 140px; height: 43px; background-color: #f5ab35; float: right; color: white; font-family: Helvetica Bold; font-size: 14px; text-align: center; line-height: 3; -moz-border-radius: 4px; /* Firefox */ -webkit-border-radius: 4px; /* Safari, Chrome */ -khtml-border-radius: 4px; /* KHTML */ border-radius: 4px; /* CSS3 */ /* Для плохих IE */ behavior: url(border-radius.htc); /* учим IE border-radius */ ">Читать далее</div>
            </div>
        </div>
        <div style="width: 340px; height: 250px; display: table; float: left; margin-left: 25px; ">

            <img src="~/Content/img/news_ico.png" />
            <a href="#" style="font-family: Helvetica Bold; font-size: 14px; color: #446cb3; text-decoration:underline;width:250px;height:50px;float:right;margin-top:10px;margin-right:10px; ">Website updates. Ut enim ad minin soc veniar, quis nostrud execitiation</a>

            <div style="font-family: Helvetica; font-size: 13px; margin-top:10px;text-align:justify;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla..
            </div>
            <div style=" color: #888888; font-family: Helvetica; font-size: 11px; display: table-row; text-align: left; vertical-align: middle; height: 43px;">
                <img src="~/Content/img/calendar_ico.png" style="padding-right: 5px; margin-top: -3px; margin-left: 20px;" />26 сентябрь, 2016
                <div class="news_read_forward" style="width: 140px; height: 43px; background-color: #f5ab35; float: right; color: white; font-family: Helvetica Bold; font-size: 14px; text-align: center; line-height: 3; -moz-border-radius: 4px; /* Firefox */ -webkit-border-radius: 4px; /* Safari, Chrome */ -khtml-border-radius: 4px; /* KHTML */ border-radius: 4px; /* CSS3 */ /* Для плохих IE */ behavior: url(border-radius.htc); /* учим IE border-radius */ ">Читать далее</div>
            </div>
        </div>
        <div style="width: 340px; height: 250px; display: table; float: left;margin-left:25px;">

            <img src="~/Content/img/news_ico.png" />
            <a href="#" style="font-family: Helvetica Bold; font-size: 14px; color: #446cb3; text-decoration:underline;width:250px;height:50px;float:right;margin-top:10px;margin-right:10px; ">Website updates. Ut enim ad minin soc veniar, quis nostrud execitiation</a>

            <div style="font-family: Helvetica; font-size: 13px; margin-top:10px;text-align:justify;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla..
            </div>
            <div style=" color: #888888; font-family: Helvetica; font-size: 11px; display: table-row; text-align: left; vertical-align: middle; height: 43px;">
                <img src="~/Content/img/calendar_ico.png" style="padding-right: 5px; margin-top: -3px; margin-left: 20px;" />26 сентябрь, 2016
                <div class="news_read_forward" style="width: 140px; height: 43px; background-color: #f5ab35; float: right; color: white; font-family: Helvetica Bold; font-size: 14px; text-align: center; line-height: 3; -moz-border-radius: 4px; /* Firefox */ -webkit-border-radius: 4px; /* Safari, Chrome */ -khtml-border-radius: 4px; /* KHTML */ border-radius: 4px; /* CSS3 */ /* Для плохих IE */ behavior: url(border-radius.htc); /* учим IE border-radius */ ">Читать далее</div>
            </div>
        </div>
    </div>

</div>
@RenderBody()