<div class="row" style="width:1100px;margin:0 auto;">
    <div class="row announ" style="width:1100px;height:170px;background-color:white;margin:0 auto;">
        <div style="width: 240px; height: 170px; border-right: 5px solid #f6f8f9;float:left;">
            <img src="~/Content/img/no_logo.png" style="margin-left: 20px;margin-top:20px;margin-right:20px; float: left;" />
            <div style="font-family: Helvetica Bold; font-size: 14px; float: left; margin-top: 20px; width: 130px; height: 40px; color: #115a56;">Эльвира Семеновна</div>

            <div style="margin-left: 20px; ">
                <img src="~/Content/img/star_active.png" />
                <img src="~/Content/img/star_active.png" />
                <img src="~/Content/img/star_active.png" />
                <img src="~/Content/img/star_active.png" />
                <img src="~/Content/img/star_inactive.png" />
            </div>
            <div style="margin-top:30px; margin-left:50px; color: #115a56; font-family: Helvetica; font-size: 14px; ">Оценка: <b>5</b></div>
        </div>
        <div style="width:855px;height:170px;float:left;display:table;">
            <div style="font-family: Helvetica Bold; font-size: 14px; color: #151515; margin-left: 20px; margin-top: 17px;"><a href="#" style=" text-decoration: none; color: #151515;">Веб дизайнер</a></div>

            <div style="font-family: Helvetica; font-size: 12px; line-height: 2; margin-left: 20px; margin-top:10px;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div style=" color: #888888; font-family: Helvetica; font-size: 11px; display:table-row;">
                <img src="~/Content/img/calendar_ico.png" style="padding-right: 5px; margin-top: -3px; margin-left: 20px;" />26 сентябрь, 2016
            </div>
        </div>
    </div>
</div>
<div class="row" style="width: 1100px; margin: 0 auto; height: 70px; font-family: Helvetica Bold; font-size: 16px; color: #115a56; line-height:70px;">
    Добавить отзыв
</div>
<div class="row" style="width: 1100px; margin: 0 auto;padding-bottom:50px;">
    <div style="float:left;">
        <div style="width:460px;height:50px;background-color:white;-moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; behavior: url(border-radius.htc);">
            <input type="text" style="width:460px;height:50px;border:none;text-indent:10px;color:#a2e2de;font-family: Helvetica; font-size: 14px;" value="Введите Ваше имя" />
        </div>
        <div style="margin-top:15px;width: 460px; height: 50px; background-color: white; -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; behavior: url(border-radius.htc);">
            <input type="text" style="width:460px;height:50px;border:none;text-indent:10px;color:#a2e2de;font-family: Helvetica; font-size: 14px;" value="Ваш email" />
        </div>
        <div style="margin-top: 15px; width: 460px; height: 50px; background-color: white; -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; behavior: url(border-radius.htc);">
            <input type="text" style="width:460px;height:50px;border:none;text-indent:10px;color:#a2e2de;font-family: Helvetica; font-size: 14px;" value="Заголовок отзыва" />
        </div>
        <div style="margin-top: 15px; width: 460px; height: 50px;">
            <div style="margin-left: 20px; color: #454545; font-family: Helvetica Bold; font-size: 15px; "> Ваша оценка: <b>4</b></div>
            <div style="margin-left: 20px; ">
                <img src="~/Content/img/star_active.png" />
                <img src="~/Content/img/star_active.png" />
                <img src="~/Content/img/star_active.png" />
                <img src="~/Content/img/star_active.png" />
                <img src="~/Content/img/star_inactive.png" />
            </div>
        </div>
    </div>
    <div style="width: 620px; height: 180px; background-color: white;float:right;-moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; behavior: url(border-radius.htc);">
        <textarea style="width:620px;height:180px;border:none;text-indent:10px;color:#a2e2de;font-family: Helvetica; font-size: 14px;padding:10px;">Текст отзыва</textarea>

    </div>
    <div style="width: 160px; height: 50px; background-color: #4b99f7;float:right;margin-top:10px;text-align:center;line-height:50px;font-family: Helvetica Bold; font-size: 14px;color:white; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; behavior: url(border-radius.htc);">
        Отправить
    </div>
</div>