<div class="row">
    <div style="width:1100px;height:55px;margin:0 auto;">
        <div style="display: table; vertical-align: middle; height: 55px;">
            <div style="display: table-cell; vertical-align: middle; height: 55px;">
                @Html.MvcSiteMap().SiteMapPath()
            </div>
        </div>
    </div>
</div>