@{
    ViewBag.Title = "LoginFailed";
    Layout = "~/Views/Shared/_Status.cshtml";
}
@section AddAnnounSuccess{
    <h5>Ваше объявление успешно добавлено!</h5>
<p>Теперь вы можете пользоваться полным функционалом сайта, и следить за обновлениями.</p>
<p>Спасибо!</p>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="location.reload();">Закрыть</button>
</div>

}


