@{
    ViewBag.Title = "LoginSuccess";
    Layout = "~/Views/Shared/_Status.cshtml";
}

@section LoginSuccess{
    <script>show_personal_account()</script>
    <p>Авторизация прошла успешно!<br>
    Добро пожаловать, @{var fio = Session["fio"];
    @fio.ToString();
}!
    
    </p>

    @Html.ActionLink("Добавить объявление", "AddClients", "Announ", null, new { @class = "btn btn-link" })
}




