@{
    ViewBag.Title = "LoginSuccess";
    Layout = "~/Views/Shared/_Status.cshtml";
}
@section LoginSuccess{
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <script>show_personal_account()</script>
            <script>$('#myDialog').modal('hide');</script>
        </div>
        <div class="col-md-2"></div>
    </div>
   
}


