@{
    ViewBag.Title = "LoginSuccess";
    Layout = "~/Views/Shared/_Status.cshtml";
}

@section LoginSuccess{
    <script>show_personal_account()</script>
    <p>Авторизация прошла успешно!<br>
    Добро пожаловать, @{var fio = Session["fio"];
    @fio.ToString();
}!
    
    </p>
    @Html.ActionLink("Личный кабинет", "Index", "Cabinet", null, new { @class = "btn btn-link" })
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="location.reload();">Закрыть</button>
</div>
}




