@{
    ViewBag.Title = "RegistrationSuccess";
    Layout = "~/Views/Shared/_Status.cshtml";
}

@section RegistrationSuccess{
<script>show_personal_account()</script>
    <h3>Спасибо за регистрацию!</h3>
    <p>Теперь вы можете пользоваться своим<br/> логином и паролем.</p>
    <p>Надеемся Вам доставит удовольствие пользование сервисом. Если возникнут вопросы обязательно пишите на Форуме или лично разработчику.</p>
    <p>Спасибо и Добро Пожаловать!</p>

    @Html.ActionLink("На главную", "Index", "Home", null, new { @class = "btn btn-link" })
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" >Закрыть</button>
</div>
}




