@{
    ViewBag.Title = "RegistrationSuccess";
    Layout = "~/Views/Shared/_Status.cshtml";
}

@section RegistrationSuccess{
    <h3>Спасибо за регистрацию!</h3>
    <p>Теперь вы можете воспользоваться своим<br/> логином и паролем.</p>
    @Html.ActionLink("На главную", "Index", "Home", null, new { @class = "btn btn-link" })
}




